<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                You have done something nice and you want to present it to fellow gophers? Head over to support us to propose a talk!
            </div>
            <div class="col-lg-4 text-right">
                <a href="/support/" class="btn btn-primary btn-lg">Propose a talk</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->

<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                You have a nice office with enough room to host 20 to 30 people? Want to give something back to the community? Head over to support us and list your location!
            </div>
            <div class="col-lg-4 text-right">
                <a href="/support/" class="btn btn-primary btn-lg">Provide a location</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
